# Assignment 1

<b>Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple
</b>

In [1]:
#A1 (i)
name="Rohit Chandiok"
print(name)
type(name)

Rohit Chandiok

str

In [2]:
# A1 (ii)
Numbers=[1,2,3,4,5,6,7,8,9,10,1,2,2]
print(Numbers)
type(Numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 2]

list

In [3]:
# A1 (iii)
speed=10.4
print(speed)
type(speed)

10.4

float

In [4]:
# A1 (iv)
Tup_Numbers=(1,2,3,4,5)
print(Tup_Numbers)
type(Tup_Numbers)

(1, 2, 3, 4, 5)

tuple

---

<b>
Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.
</b>

In [5]:
# A2 (i)
var1 = ' '
type(var1)

str

In [6]:
# A2 (ii)
var2 = '[DS,ML,Python]'
type(var2)

str

In [7]:
# A2 (iii)
var3=['DS','ML','Python']
type(var3)

list

In [8]:
# A2 (iv)
var4=1
type(var4)

int

---

<b>
Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**
</b>

A3 (i) / </br>
'/' is the devision opertator, It is used to give the result of devision of two numbers

In [9]:
10/3

3.3333333333333335

A3 (ii) % </br>
'%' Modulus opertator is used to fetch the remainder after devison of two numbers

In [10]:
10%3

1

A3 (iii) // </br>
'//' This is floor dision operator, It discards the decimal values from result of division

In [11]:
10//3

3

A3 (iv) ** </br>
'**' is the exponent operator. It is used to find exponential operations </br>
3 ** 3 is same as the result of 3*3*3

In [12]:
3**3

27

In [13]:
3*3*3

27

---

<b>Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.</b>

In [14]:
# A4
a4_list = [1,2,'Rohit',2.5,[1,2,3],(3,2,1),'Data Science', True, False,20.1]
for val in a4_list:
    print("f(Element : {2} and Element Type : {3})",val,type(val))

f(Element : {2} and Element Type : {3}) 1 <class 'int'>
f(Element : {2} and Element Type : {3}) 2 <class 'int'>
f(Element : {2} and Element Type : {3}) Rohit <class 'str'>
f(Element : {2} and Element Type : {3}) 2.5 <class 'float'>
f(Element : {2} and Element Type : {3}) [1, 2, 3] <class 'list'>
f(Element : {2} and Element Type : {3}) (3, 2, 1) <class 'tuple'>
f(Element : {2} and Element Type : {3}) Data Science <class 'str'>
f(Element : {2} and Element Type : {3}) True <class 'bool'>
f(Element : {2} and Element Type : {3}) False <class 'bool'>
f(Element : {2} and Element Type : {3}) 20.1 <class 'float'>

---

<b>
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.
</b>

In [24]:
# A5
num1 = int(input("Enter First Number"))
num2 = int(input("Enter Second Number"))
if num1 % num2 == 0:
    print(f"Number # {num1} is completely devisible by Number # {num2} , {int(num1/num2)} times")
else:
    print(f"Number # {num1} and Number # {num2} are not Purely divisible")

Enter First Number 10
Enter Second Number 2

Number # 10 is completely devisible by Number # 2 , 5 times

---

<b>Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not. </b>

In [16]:
# A6
A6_list = [*range(1,26)]
for i in A6_list:
    if (i % 3 == 0):
        print(f"Element # {i} is Divisible by 3")
    else:
        print(f"Element # {i} is Not - Divisible by 3")

Element # 1 is Not - Divisible by 3
Element # 2 is Not - Divisible by 3
Element # 3 is Divisible by 3
Element # 4 is Not - Divisible by 3
Element # 5 is Not - Divisible by 3
Element # 6 is Divisible by 3
Element # 7 is Not - Divisible by 3
Element # 8 is Not - Divisible by 3
Element # 9 is Divisible by 3
Element # 10 is Not - Divisible by 3
Element # 11 is Not - Divisible by 3
Element # 12 is Divisible by 3
Element # 13 is Not - Divisible by 3
Element # 14 is Not - Divisible by 3
Element # 15 is Divisible by 3
Element # 16 is Not - Divisible by 3
Element # 17 is Not - Divisible by 3
Element # 18 is Divisible by 3
Element # 19 is Not - Divisible by 3
Element # 20 is Not - Divisible by 3
Element # 21 is Divisible by 3
Element # 22 is Not - Divisible by 3
Element # 23 is Not - Divisible by 3
Element # 24 is Divisible by 3
Element # 25 is Not - Divisible by 3

---
<b> Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property. </b>

A7 </br>
<b>Mutable Data Types </b> # Mutable Data Types are those in which value  a certain index can be changed. Eg:  List </br>
<b>Immutable Data Types </b> # Immutable Data Types are those in which value  a certain index can not be changed. Eg:  String

In [17]:
# Mutable Data Type
A7_List=[1,2,3,4,5,6]
A7_List

[1, 2, 3, 4, 5, 6]

In [18]:
A7_List[4]

5

In [19]:
A7_List[4] = 10
A7_List[4]

10

In [20]:
A7_List

[1, 2, 3, 4, 10, 6]

In [21]:
# Immutable Data Type
A7_String="Hello World"
A7_String

'Hello World'

In [22]:
A7_String[10]

'd'

In [23]:
A7_String[10]='b'

TypeError: 'str' object does not support item assignment